<h1>You can find details on the access keys for this account below</h1>
<h3>These keys will work for the developer application!</h3>

<p><strong>Account Username:</strong> @<%= username %></p>
<p><strong>Access Key:</strong> <%= access %></p>
<p><strong>Access Secret:</strong> <%= secret %></p>

<h3>You can now use these access and access secret keys in your project along with the consumer and consumer secret keys you entered ealier.</h3>
